<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qdw.mapper.TypeMapper">

    <select id="qureyTypeList" resultType="Type">
        select * from type;
    </select>

    <select id="qureyTypeById" resultType="Type">
        select * from type where id=#{id};
    </select>


    <select id="countBlog" resultType="integer">
        select count(*) from blog where typeid=#{id}
    </select>

    <insert id="insertType" parameterType="Type">
        insert into type (name) values (#{name});
    </insert>

<!--    分页-->
    <select id="queryTypePage" resultType="Type" parameterType="map">
        select * from type limit #{page},#{size};
    </select>

    <delete id="deleteType" >
        delete from type where id=#{id}
    </delete>

    <select id="count" resultType="integer">
        select count(1) from type
    </select>

    <update id="updataType" parameterType="Type">
        update type set name=#{name} where id=#{id}
    </update>

    <select id="qureyTypeByName" parameterType="string" resultType="Type">
        select * from type where name=#{name};
    </select>
    


    <select id="qureyTypesWithBlog" resultMap="typeblog">
        select t.id ti,t.name tn,b.id bi from type t,blog b where t.id=b.typeid
    </select>
    <resultMap id="typeblog" type="Type">
        <result property="id" column="ti"/>
        <result property="name" column="tn"/>
        <collection property="blogs" ofType="Blog">
            <result property="id" column="bi"/>
        </collection>
    </resultMap>

</mapper>